<div class="row">
  <div class="col-xs-12">
    <h5>
      Employees
      <span class="btn btn-sm btn-primary fui-plus"
        data-toggle="collapse" 
        href="#empInserter" 
        aria-expanded="false" 
        aria-controls="empInserter"></span>
    </h5>
    <div class="collapse" id="empInserter">
      <form class="form-horizontal" ng-submit="insert()">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" ng-model="emp.name" class="form-control" id="name" placeholder="Full Name" required/>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" ng-model="emp.email" placeholder="Email" required/>
          </div>
        </div>
        <div class="form-group">
          <label for="unixid" class="col-sm-2 control-label">Unix ID</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="unixid" ng-model="emp.unix_id" placeholder="Unix ID" required/>
          </div>
        </div>
        <div class="form-group">
          <label for="empid" class="col-sm-2 control-label">Employee ID</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="empid" ng-model="emp.employee_id" placeholder="Employee ID" required/>
          </div>
        </div>
        <div class="form-group">
          <label for="dob" class="col-sm-2 control-label">Date of Birth</label>
          <div class="col-sm-10">
            <datepicker date-format="yyyy-MM-dd" selector="form-control">
                <div class="input-group">
                    <input ng-model="emp.date_of_birth" id="dob" class="form-control" placeholder="Date of Birth"/>
                    <span class="input-group-addon" style="cursor: pointer">
                      <span class="fui-triangle-down-small"></span>
                    </span>
                </div>
            </datepicker>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <button ng-click="closeInsert()" class="btn btn-inverse">Close</button>
          </div>
        </div>
      </form>
    </div>
    <table class="table table-striped" datatable="ng">
      <thead>
        <tr>
          <th>Name</th>
          <th>Unix ID</th>
          <th>Employee ID</th>
          <th>Date of Birth</th>
          <th>Due</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employees">
          <td>{{employee.name}}</td>          
          <td>{{employee.unix_id}}</td>          
          <td>{{employee.employee_id}}</td>          
          <td>{{employee.date_of_birth | date: 'yyyy-MM-dd'}}</td>          
          <td>{{employee.due | currency: '&#x20b9 '}}</td>          
        </tr>
      </tbody>
    </table>
  </div>
</div>